.wrapper{
    display: inline-block;
    width: 100%;
}
.register{
    width: 500px;
    height: 100%;
    margin-left: 15%; 
    float: left;
}

.map{
    width: 400px;
    height: 400px;
    margin-right: 15%;
    float: right;
}
